*,
 *::before,
 *::after{

  margin: 0;
  padding: 0;
 }
header {
    text-align: center;
    padding: 30px;
    gap:20px;
    color: rgb(231, 240, 245);
    background: linear-gradient(135deg,  #8ec7fc, #2a7fcf,#77b5f0);
}
#container {

    background-color: #ffffffda;
    display :flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    font-family:'Franklin Gothic ';
    padding: 1rem;
}

.cards {
    min-height: 250px;  
    width: 360px;
    display: flex;
    flex-direction: column;
    border: 1px solid #1392c4;
    border-radius: 8px;
    padding: 15px;
    background: linear-gradient(135deg, #cce6ff, #c3e2ff,#79beffda);
    box-sizing: border-box; 
}
body{
min-height: 100vh;
}
.cards > h2 , .cards > p {
    align-self:  center;
    margin-top: 0;
    color:#022c88;
}

.cards > button {
    margin: 15px auto 0 auto;       
    padding: 0.5rem;
    cursor: pointer;
    color:#ffffff;
    background: linear-gradient(135deg,  #8ec7fc, #186dbd,#77b5f0);
    border: 1px solid #6b90e0;
    border-radius: 5px;
}
.cards > input {
    margin-top: 26px;
    align-self: center;
    padding: 4px;
    border: 1px solid rgb(6, 83, 134);
    border-radius: 7px;   
}
.result {
    margin-top: 15px;
    max-height: 300px;
    overflow-y: auto;
    color:#0839a3;
}
.titulo-grupo{
      color:#022c88;
}
.result::-webkit-scrollbar {
    width: 10px; 
}
.result::-webkit-scrollbar-track {
    background: #cce6ff; 
    border-radius: 10px;
}

.result::-webkit-scrollbar-thumb {
    background: #186dbd; 
    border-radius: 10px;
}

.result::-webkit-scrollbar-thumb:hover {
    background: rgb(62, 185, 216); 
}


/* Mini-ficha de cada item */
.cards-item{
    background-color: #99ccfcee;
    border: 1px solid #c9dfff;
    border-radius: 5px;
    color:rgb(40, 27, 160);
    padding: 10px;
    margin-bottom: 8px;
    box-shadow: 1px 1px 3px rgba(170, 238, 255, 0.979);
}

.cards-item p {
    margin: 6px 0; 
}

/* -------- Responsivo para pantallas pequeñas -------- */
@media (max-width: 768px) {
    #container {
        flex-direction: column; /* tarjetas apiladas */
        align-items: center;    /* centrado horizontal */
    }

    .cards {
        width: 90%; /* ocupa casi todo el ancho en móviles */
    }
}
footer{
    color: #ffffff;
    display:flex;
    justify-content: center;
    padding: 10px;
    font-style: italic;
    font-size: medium;
     background: linear-gradient(135deg,  #8ec7fc, #2a7fcf,#77b5f0);
}
/* Media query footer */
@media (max-width: 600px) {
    footer {
        text-align: center; 
    }
}